$background-color: white;
$content-backgound: #2a54ad;
$secondary-content: #f8ad2a;
$third-content: #702bd4;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: $background-color;
  color: #2a2a2a;
  font-size: 22px;
}

.work-intro {
  margin-top: 10rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10rem;
  padding-left: 10rem;
  span {
    color: $content-backgound;
  }
  .work-text {
    padding-left: 2rem;
    width: 50vh;
  }
  img {
    padding-right: 5rem;
    width: 70vh;
  }
}

.Work {
  margin-top: 20rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10rem;
  padding-left: 10rem;
  span {
    color: $content-backgound;
  }
  .worker-text {
    width: 40vh;
    margin-left: 10rem;
    background: $third-content;
  }
  img {
    padding-left: 7rem;
    width: 70vh;
    height: 40vh;
    margin-left: 15rem;
  }
}

.Work1 {
  margin-top: 10rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10rem;
  padding-left: 10rem;
  span {
    color: $content-backgound;
  }
  .worker-text {
    width: 50vh;
  }
  img {
    padding-right: 7rem;
    margin-right: 2rem;
    width: 70vh;
    height: 40vh;
  }
}
