$background-color: #171923;
$content-backgound: #c31331;
$secondary-content: #f79e1b;
$third-content: #cbb2ab;

.about-content{
    display:flex;
    justify-content: center;
    padding: 2rem 3rem;
    img{
        height: 70vh;
    }
    .about-text{
        width: 70vh;
        margin-right: 2rem;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    span{
        color: $secondary-content;
    }
}